/Makefile
/Makefile.in
.deps
.libs
.dirstamp
*.o
*.lo
*.la
*~
*.a

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/compile
/m4

/megatools

/tests/tools/*.dat
/tests/tools/Mount
/tests/tools/TestDir

/.vimrc
/*.tar.xz
/*.tar.gz

/docs/*.1
/docs/*.5
